{% load static %}
{% load i18n %}

<html>
    <head>
        <title>{% trans "Atsijungėt nuo Orimgas" %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/logout_style.css' %}">
    </head>
    <body>
        <h1>{% trans "Orimgas" %}</h1>
        <p>{% trans "Sėkmingai atsijungėte nuo Orimgas." %}</p>
        <div>
            <a href="{% url 'login' %}">{% trans "Prisijungti" %}</a>
            <br>
            <br>
            <a href="{% url 'password_reset' %}">{% trans "Pamiršote slaptažodį?" %}</a>
        </div>
    </body>
</html>