{% load static %}
{% load i18n %}
<html>
    <head>
        <title>{% trans "Pamiršote slaptažodį | Orimgas" %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}">
    </head>
    
    {% if form.errors %}
        <p>{% trans "Jūs turite uzpildyti visus laukus" %}</p>
    {% endif %}
    <div class="form-container">
        <h1>{% trans "Orimgas" %}</h1>
        <h3>{% trans "Pamiršote slaptažodį?" %}</h3>
        <form method="post" action="{{ request.path }}">
            {% csrf_token %}
            <p><label for="email">{% trans "El. paštas:" %}</label></p>
            <p><input type="text" id="email" name="email" required></p>
            <p><button type="submit">{% trans "Patvirtinti" %}</button></p>
        </form>
    </div>
</html>