{% load static i18n %}
<html>
<head>
    <title>{% block title %}Orimgas {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/base_style.css" %}">
</head>
<body>
    <header>
        <ul class="nav">
            <li><a href="{% url "menu" %}">Orimgas Meniu</a></li>
            <li><a href="{% url "user_detail" user.uuid %}">Mano vartotojas</a></li>
            <li class="right"><a href="{% url "logout" %}">Atsijungti</a></li>
        </ul>
    </header>
    
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

    <footer>
        <p>Orimgas</p>
    </footer>
</body>
</html>