{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Civilinės saugos žurnalas" %}
{% endblock title %}

{% block content %}
<br><br><br>
  <h1>{% trans "Civilinės saugos instruktavimų registracijos žurnalas" %}</h1>
  {% include "main/included/paginator_prev_next.html" %}
  <br>
  {% if object_list %}
    <form method="GET" action="{% url 'civiline_sauga_zurnalas' %}" class="filter-form" style="padding-bottom: 5px;">
      <label for="start_date">{% trans "Nuo:" %}</label>
      <input type="date" id="start_date" name="start_date" value="{{ request.GET.start_date }}">
      <label for="end_date">{% trans "Iki:" %}</label>
      <input type="date" id="end_date" name="end_date" value="{{ request.GET.end_date }}">
      <button type="submit" class="btn btn-primary">{% trans "Filtruoti" %}</button>
      <a href="{% url 'civiline_sauga_zurnalas' %}" class="btn btn-secondary">{% trans "Nustatyti iš naujo" %}</a>
      <a href="{% url 'civiline_sauga_zurnalas' %}?generate_pdf=true&query={{ request.GET.query }}&start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}" class="btn btn-success" target="_blank">{% trans "Generuoti PDF" %}</a>
    </form>
    <table class="nice-table" id="pasirasymai-table">
      <thead>
        <tr>
          <th>{% trans "Instruktuojamojo vardas ir pavardė" %}</th>
          <th>{% trans "Instruktuojamojo gimimo data" %}</th>
          <th>{% trans "Instruktuojamojo pareigos" %}</th>
          <th>{% trans "Instrukcijos Nr." %}</th>
          <th>{% trans "Instruktavimo pavadinimas" %}</th>
          <th>{% trans "Pasirašymo data" %}</th>
          <th>{% trans "Sekančio pasirašymo data" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for pasirasymas in object_list %}
          <tr>
            <td>{{ pasirasymas.user.get_full_name }}</td>
            <td>{{ pasirasymas.user.date_of_birth }}</td>
            <td>{{ pasirasymas.user.position }}</td>
            {% if pasirasymas.instruction.name %}
              <td>{{ pasirasymas.instruction.name }}</td>
            {% else %}
              <td>{{ pasirasymas.instruction.pavadinimas }}</td>
            {% endif %}
            <td>
              {% if pasirasymas.instruktavimo_tipas == 0 %}
                {% trans "Įvadinis" %}
              {% else %}
                {% trans "Periodinis" %}
              {% endif %}
            </td>
            <td>{{ pasirasymas.date_signed|default:_("Nepasirašyta") }}</td>
            <td>{{ pasirasymas.next_sign|default:_("Nepatikslinta") }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>{% trans "Darbų saugos žurnale įrašų nerasta." %}</p>
  {% endif %}

{% endblock content %}
