{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Dokumetai" %} {{ block.super }}{% endblock title %}
{% block content %}
{% block head_style %}
    <style>
        .nice-table {
            min-width: 30rem;
            max-width: 30rem;
            
        }
        @media screen and (max-width: 1000px) and (min-width: 501px){
            .menu a {
                font-size: 25px;
            }
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.5rem;
            }
            header a {
                font-size: 1.5rem;
            }
            .blank {
                font-size: 1.5rem;
                width: 10rem;
            }
        }
        @media screen and (max-width: 500px) and (min-width: 300px){
            .nice-table td {
                max-width: 121px;
            }
            .nice-table {
                min-width: 284px;
                max-width: 284px;
            }
            
        }
        .nice-container {
            margin: 1rem;
        }
        .horizontal_container2 {
            justify-content: center;
        }
    </style>
{% endblock head_style %}
<br><br><br>
<h1>{% trans "Įmonės dokumentai" %}</h1>

    <div class="vertical_container2 nice-container" style="box-shadow: none;">
        <div class="horizontal_container2">
            <div class="vertical_container3 nice-container">
                <p class="upper_text">{% trans "Darbų saugos instrukcijos" %}</p>
                <div class="scrollable-content">
                    {% if dokumentai %}
                        {% for instruction in dokumentai %}
                        <p><a href="{% url 'darbu_sagos_detail' instruction.uuid %}">{{ instruction.name }}</a></p>
                        {% endfor %}
                    {% else %}
                        <p>{% trans "Darbų saugos instrukcijos šiuo metu neturite." %}</p>
                    {% endif %}
                </div>
            </div>
            
                <div class="vertical_container3 nice-container">
                    <p class="upper_text">{% trans "Priešgaisrinės instrukcijos" %}</p>
                    <div class="scrollable-content">
                        {% if priesrines_instrukcijos %}
                            {% for priesgaisrine in priesrines_instrukcijos %}
                                <p><a href="{% url 'priesgaisrinio_detail' priesgaisrine.uuid %}">{{ priesgaisrine.pavadinimas }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Priešgaisrinių instrukcijų šiuo metu neturite." %}</p>
                        {% endif %}
                    </div>
                </div>
            
            
                <div class="vertical_container3 nice-container">
                    <p class="upper_text">{% trans "Civilinės saugos instrukcijos" %}</p>
                    <div class="scrollable-content">
                        {% if civiline_sauga %}
                            {% for civiline in civiline_sauga %}
                                <p><a href="{% url 'civiline_sauga_detail' civiline.uuid %}">{{ civiline.pavadinimas }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Civilinės saugos instrukcijų šiuo metu neturite." %}</p>
                        {% endif %}
                    </div>
                </div>
            
        </div>
            <div class="horizontal_container2">
                <div class="vertical_container3 nice-container">
                    <p class="upper_text">{% trans "Mokymai" %}</p>
                    <div class="scrollable-content">
                        {% if mokymo_instrukcijos %}
                            {% for mokymas in mokymo_instrukcijos %}
                                <p><a href="{% url 'mokymu_detail' mokymas.uuid %}">{{ mokymas.pavadinimas }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Mokymų šiuo metu neturite." %}</p>
                        {% endif %}
                    </div>
                </div>
                
                <div class="vertical_container3 nice-container">
                    <p class="upper_text">{% trans "Kiti dokumentai" %}</p>
                    <div class="scrollable-content">
                        {% if kitu_doc %}
                            {% for kitas_doc in kitu_doc %}
                                <p><a href="{% url 'kiti_dokumentai_detail' kitas_doc.uuid %}">{{ kitas_doc.pavadinimas }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>{% trans "Kitų dokumentų šiuo metu neturite." %}</p>
                        {% endif %}
                    </div>
                </div>
                
                

            </div>
        </div>
        <div class="nice-container" style="padding: 0;">
            <a href="{% url 'menu' %}" class="button" style="justify-self: center;">{% trans "Atgal" %}</a>
          </div>
{% endblock content %}
