{% extends "base.html" %}
{% block title %}Dokumetai {{ block.super }}{% endblock title %}
{% block content %}
    <h1>Darbų saugos instrukcijos</h1>
    {% if dokumentai %}
        <table class="nice-table">
            <tr>
                <th>Instrukcijos pavadinimas</th>
                <th>Peržiūrėti</th>
            </tr>
            {% for instruction in dokumentai %}
                <tr>
                    <td>{{ instruction.name }}</td>
                    <td><a href="{% url 'darbu_sagos_detail' instruction.uuid %}">Skaityti/Pasirašyti</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">Šiuo metu darbų saugos instrukcijų neturite.</p>
    {% endif %}
    
    <h1>Priešgaisrinės instrukcijos</h1>
    {% if priesrines_instrukcijos %}
        <table class="nice-table">
            <tr>
                <th>Instrukcijos pavadinimas</th>
                <th>Peržiūrėti</th>
            </tr>
            {% for priesgaisrine in priesrines_instrukcijos %}
                <tr>
                    <td>{{ priesgaisrine.pavadinimas }}</td>
                    <td><a href="{% url 'priesgaisrinio_detail' priesgaisrine.uuid %}">Skaityti/Pasirašyti</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">Šiuo metu priešgaisrinės instrukcijos neturite.</p>
    {% endif %}
    <h1>Civilinės saugos intrukcijos</h1>
    {% if civiline_sauga %}
        <table class="nice-table">
            <tr>
                <th>Instrukcijos pavadinimas</th>
                <th>Peržiūrėti</th>
            </tr>
            {% for instruction in civiline_sauga %}
                <tr>
                    <td>{{ instruction.pavadinimas }}</td>
                    <td><a href="{% url 'civiline_sauga_detail' instruction.uuid %}">Skaityti/Pasirašyti</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">Šiuo metu civilinės saugos instrukcijų neturite.</p>
    {% endif %}
    <h1>Mokymai</h1>
    {% if mokymo_instrukcijos %}
        <table class="nice-table">
            <tr>
                <th>Instrukcijos pavadinimas</th>
                <th>Peržiūrėti</th>
            </tr>
            {% for mokymas in mokymo_instrukcijos %}
                <tr>
                    <td>{{ mokymas.pavadinimas }}</td>
                    <td><a href="{% url 'mokymu_detail' mokymas.uuid %}">Skaityti/Pasirašyti</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">Šiuo metu mokymų neturite.</p>
    {% endif %}
    
    <h1>Kiti dokumentai</h1>
    {% if kitu_doc %}
        <table class="nice-table">
            <tr>
                <th>Dokumento pavadinimas</th>
                <th>Peržiūrėti</th>
            </tr>
            {% for kito_dokumento_pasirasymas in kitu_doc %}
                <tr>
                    <td>{{ kito_dokumento_pasirasymas.pavadinimas }}</td>
                    <td><a href="{% url 'kiti_dokumentai_detail' kito_dokumento_pasirasymas.uuid %}">Skaityti/Pasirašyti</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">Šiuo metu kiti dokumentai neturite.</p>
    {% endif %}
    <br><br><br><br>
{% endblock content %}
