{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}{% trans "Pridėti instrukciją" %}{% endblock title %}
{% block content %}
<br><br><br>
    <h1>{% trans "Pridėti instrukciją/ -as vartotojams" %}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row-container">
            <div class="collumn">
                <label for="id_kalba">{% trans "Daruotojui suprantama kalba:" %}</label>
                {{ form.kalba }}
            </div>
            <div class="collumn">
                <label for="id_instructions">{% trans "Darbų saugos instrukcijos:" %}</label>
                {{ form.instructions }}
                <label for="id_priesgaisrines">{% trans "Priesgaisrinės instrukcijos:" %}</label>
                {{ form.priesgaisrines }}
                <label for="id_civiline_sauga">{% trans "Civilinės saugos instrukcijos:" %}</label>
                {{ form.civiline_sauga }}
            </div>
            <div class="collumn">
                <label for="id_mokymai">{% trans "Mokymai:" %}</label>
                {{ form.mokymai }}
            </div>
            <div class="collumn">
                <label for="id_kiti_dokumentai">{% trans "Kiti dokumentai:" %}</label>
                {{ form.kiti_dokumentai }}
            </div>
        </div>
        <button class="button" type="post">{% trans "Patvirtinti" %}</button>
        <a class="button" href="{% url "my_company_users" %}">{% trans "Atgal" %}</a>
    </form><br><br><br><br>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Deselect all options in the ModelMultipleChoiceField
        const selectElement = document.getElementById('id_AsmeninesApsaugosPriemones');
        if (selectElement) {
            selectElement.selectedIndex = -1;  // Deselect all options
        }
    });
    </script>
{% endblock content %}