{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Kitų dokumentų žurnalas" %}{% endblock title %}
{% block content %}
<br><br><br>
    <h1>{% trans "Kitų dokumentų registras" %}</h1>
    <table class="nice-table">
        <tr>
            <th>{% trans "Dokumento pavadinimas" %}</th>
            <th>{% trans "Peržiūrėti protokolą" %}</th>
        </tr>
        {% for doc in object_list %}
        <tr>
            <td>{{ doc.pavadinimas }}</td>
            <td><a href="{% url 'kitu-doc-pasirasymas-list' doc.uuid %}">{% trans "Peržiūrėti" %}</a></td>
        {% endfor %}
        </table>
{% endblock content %}