{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Menu" %} {{ block.super }}
{% endblock title %}
{% block head_style %}
    @media screen and (max-width: 1000px) and (min-width: 501px){
        .menu a {
            font-size: 25px;
        }
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        header a {
            font-size: 1.5rem;
        }
        .blank {
            font-size: 1.5rem;
            width: 10rem;
        }
    }
    @media screen and (max-width: 500px) and (min-width: 300px){
        .menu a {
            font-size: 25px;
        }
        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2.5rem;
        }
        header a {
            font-size: 2.3rem;
        } 
        .blank {
            font-size: 1.5rem;
            width: 10rem;
        }
        ul.nav li {
            font-size: 1rem;
            margin-left: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            padding: 0.2rem;
        }
        ul.nav a {
            font-size: 1rem;
        }
        ul.nav li.right {
            margin-right: 1rem;
            margin-left: -15px;
        }
    } 
{% endblock head_style %}
{% block content %}
<br><br><br>
<h1>{{ user.company }}</h1>
<h2>{{ user.position }} - {{ user.get_full_name }}</h2>
<div class="menu">
<ul >
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'user_instructions' %}">{% trans "Mano darbai" %}</a>
    </li>
    <li>
        <a href="{% url 'user_edit' user.uuid %}">{% trans "Redaguoti mano vartotoją" %}</a>
    </li>  
    {% endif %}
    {% if user.is_supervisor %}
    <h2>{% trans "Administratoriaus aplinka:" %}</h2>
    <li>
        <a href="{% url 'priminimai_administracijai' %}">{% trans "Administratoriaus atmintinė" %}</a>
    </li>
    <li>
        <a href="{% url 'user_add' %}">{% trans "Įtraukti naują darbuotoją" %}</a>
    </li>
    <li>
        <a href="{% url 'my_company_users' %}">{% trans "Įmonės darbuotojai" %}</a>
    </li>
    <li>
        <a href="{% url 'darbu_saugos_zurnalas' %}">{% trans "Darbų saugos instruktavimo registras" %}</a>
    </li>
    <li>
        <a href="{% url 'priesgaisrinės_saugos_zurnalas' %}">{% trans "Priešgaisrinės saugos žurnalas" %}</a>
    </li>
    <li>
        <a href="{% url 'civiline_sauga_zurnalas' %}">{% trans "Civilinės saugos žurnalas" %}</a>
    <li>
        <a href="{% url 'mokymu_zurnalas' %}">{% trans "Neformalus mokymas" %}</a>
    </li>
    <li>
        <a href="{% url 'kitu_doc_zurnalas' %}">{% trans "Kiti dokumentai" %}</a>
    </li>
    <li>
        <a href="{% url 'sveikatos_tikrinimo_grafikas' %}">{% trans "Darbuotojų sveikatos tikrinimo grafikas" %}</a>
    </li>
    <li>
        <a href="{% url 'dokumentai_list' %}">{% trans "Įmonės dokumentai" %}</a>
    </li>
    <li>
        <a href="{% url 'AAP_zurnalas' %}">{% trans "AAP žurnalas" %}</a>
    </li>
    {% endif %}
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'admin:index' %}">Admin</a>
    </li>
    {% endif %}
</ul>
</div>
{% endblock content %}
