{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans "Menu" %} {{ block.super }}
{% endblock title %}

{% block content %}
<h1>{{ user.company }}</h1>

<h2>{{ user.position }} - {{ user.get_full_name }}</h2>
<div class="menu">
<ul >
    {% if user.is_authenticated %}
    <li>
        <a href="{% url 'user_instructions' %}">{% trans "Mano darbai" %}</a>
    </li>
    <li>
        <a href="{% url 'user_edit' user.uuid %}">{% trans "Redaguoti mano vartotoją" %}</a>
    </li>  
    {% endif %}
    {% if user.is_supervisor %}
    <h2>{% trans "Administratoriaus aplinka:" %}</h2>
    <li>
        <a href="{% url 'user_add' %}">{% trans "Įtraukti naują darbuotoją" %}</a>
    </li>
    <li>
        <a href="{% url 'my_company_users' %}">{% trans "Įmonės darbuotojai" %}</a>
    </li>
    <li>
        <a href="{% url 'darbu_saugos_zurnalas' %}">{% trans "Darbu saugos instruktavimo registras" %}</a>
    </li>
    <li>
        <a href="{% url 'priesgaisrinės_saugos_zurnalas' %}">{% trans "Priesgaisrinės saugos žurnalas" %}</a>
    </li>
    <li>
        <a href="{% url 'civiline_sauga_zurnalas' %}">{% trans "Civilinės saugos žurnalas" %}</a>
    <li>
        <a href="{% url 'mokymu_zurnalas' %}">{% trans "Neformalus mokymas" %}</a>
    </li>
    <li>
        <a href="{% url 'kitu_doc_zurnalas' %}">{% trans "Kiti dokumentai" %}</a>
    </li>
    <li>
        <a href="{% url 'sveikatos_tikrinimo_grafikas' %}">{% trans "Darbuotojų sveikatos tikrinimo grafikas" %}</a>
    </li>
    <li>
        <a href="{% url 'dokumentai_list' %}">{% trans "Įmonės dokumentai" %}</a>
    </li>
    {% endif %}
    {% if user.is_superuser %}
    <li>
        <a href="{% url 'admin:index' %}">Admin</a>
    </li>
    {% endif %}
</ul>
</div>
<br><br>
{% endblock content %}
