{% extends "base.html" %}
{% block title %}Mokymų žurnalas{% endblock title %}
{% block content %}
    <h1>Mokymų žurnalas</h1>
    <table class="nice-table">
        <tr>
            <th>Mokymo pavadinimas</th>
            <th>Peržiūrėti protokolą</th>
        </tr>
        {% for mokymas in mokymai_list %}
        <tr>
            <td>{{ mokymas.pavadinimas }}</td>
            <td><a href="{% url 'mokymu-pasirasymas-list' mokymas.uuid %}">Peržiūrėti</a></td>
        {% endfor %}
{% endblock content %}