{% extends "base.html" %}
{% block title %}Mokymo protokolas{% endblock title %}
{% block content %}
<h1>Atestavimo protokolas</h1>
{% include "main/included/paginator_prev_next.html" %}
<br><br>
{% if object_list %}
    <table class="nice-table">
        <tr>
            <th>Vardas ir Pavardė</th>
            <th>Pareigos</th>
            <th>Mokymo programa</th>
            <th>Vertinimo rezultatas</th>
            <th>Pasirašymo data</th>
            <th>Sekančio pasirašymo data</th>
        </tr>
        {% for pasirasymas in object_list %}
            <tr>
                <td>{{ pasirasymas.user.get_full_name }}</td>
                <td>{{ pasirasymas.user.position }}</td>
                {% if pasirasymas.instruction.name %}
                    <td>{{ pasirasymas.instruction.name }}</td>
                    {% else %}
                    <td>{{ pasirasymas.instruction.pavadinimas }}</td>
                {% endif %}
                <td>
                    {% if pasirasymas.status == 0 %}Neįskaityta
                    {% else %}Įskaityta
                    {% endif %}
                </td>
                <td>{{ pasirasymas.date_signed|default:"Nepasirašyta" }}</td>
                <td>{{ pasirasymas.next_sign|default:"Nepatikslinta" }}</td>
            </tr>

        {% endfor %}

{% else %}
    <p style="text-align: center;">Mokymų žurnale įrašų nerasta.</p>
{% endif %}

{% endblock content %}
