{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Atestavimo protokolas" %}{% endblock title %}
{% block content %}
<br><br><br>
<h1>{% trans "Atestavimo protokolas" %}</h1>
<br><br>
{% if object_list %}
<a href="?generate_pdf=1" class="pdf-button" target="_blank">{% trans "Generuoti PDF" %}</a>

    <table class="nice-table">
        <tr>
            <th>{% trans "Vardas ir Pavardė" %}</th>
            <th>{% trans "Gimimo data" %}</th>
            <th>{% trans "Pareigos" %}</th>
            <th>{% trans "Mokymo programa" %}</th>
            <th>{% trans "Vertinimo rezultatas" %}</th>
            <th>{% trans "Pasirašymo data" %}</th>
            <th>{% trans "Sekančio pasirašymo data" %}</th>
        </tr>
        {% for pasirasymas in object_list %}
            <tr>
                <td>{{ pasirasymas.user.get_full_name }}</td>
                <td>{{ pasirasymas.user.date_of_birth }}</td>
                <td>{{ pasirasymas.user.position }}</td>
                {% if pasirasymas.instruction.name %}
                    <td>{{ pasirasymas.instruction.name }}</td>
                    {% else %}
                    <td>{{ pasirasymas.instruction.pavadinimas }}</td>
                {% endif %}
                <td>
                    {% if pasirasymas.status == 0 %}{% trans "Neįskaityta" %}
                    {% else %}{% trans "Įskaityta" %}
                    {% endif %}
                </td>
                <td>{% if pasirasymas.date_signed == 'None' %}{% trans "Nepatikslinta" %}{% else %}{{ pasirasymas.date_signed }}{% endif %}</td>
                <td>{% if pasirasymas.next_sign == 'None' %}{% trans "Nepatikslinta" %}{% else %}{{ pasirasymas.next_sign }}{% endif %}</td>
            </tr>

        {% endfor %}
        </table>
{% else %}
    <p style="text-align: center;">{% trans "Mokymų žurnale įrašų nerasta." %}</p>
{% endif %}

{% endblock content %}
