{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Mokymų žurnalas" %}{% endblock title %}
{% block content %}
<br><br><br>
    <h1>{% trans "Mokymų žurnalas" %}</h1>
    <table class="nice-table">
        <tr>
            <th>{% trans "Mokymo pavadinimas" %}</th>
            <th>{% trans "Peržiūrėti protokolą" %}</th>
        </tr>
        {% for mokymas in mokymai_list %}
        <tr>
            <td>{{ mokymas.pavadinimas }}</td>
            <td><a href="{% url 'mokymu-pasirasymas-list' mokymas.uuid %}">{% trans "Peržiūrėti" %}</a></td>
        {% endfor %}
        </table>
{% endblock content %}