{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}{% trans "Redaguoti" %} {{ user.get_full_name }}{% endblock title %}
{% block content %}
<br><br><br>
    <h1>{% trans "Redaguoti vartotoją" %}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="row-container">
            <div class="collumn">
                <label for="id_first_name">{% trans "Vardas:" %}</label>
                {{ form.first_name }}
                <label for="id_last_name">{% trans "Pavardė:" %}</label>
                {{ form.last_name }}
                <label for="id_email">{% trans "El. paštas:" %}</label>
                {{ form.email }}
                <label for="id_date_of_birth">{% trans "Gimimo data:" %}</label>
                {{ form.date_of_birth }}
                <label for="id_position">{% trans "Pareigos:" %}</label>
                {{ form.position }}
                <br><br>
                <label for="id_password">{% trans "Slaptažodis:" %}</label>
                {{ form.password }}
                <label for="is_active">{% trans "Aktyvus:" %}</label>
                {{ form.is_active }}
            </div>
            <div class="collumn">
                <label for="id_instructions">{% trans "Darbų saugos instrukcijos:" %}</label>
                {{ form.instructions }}
                <label for="id_priesgaisrines">{% trans "Priesgaisrinės instrukcijos:" %}</label>
                {{ form.priesgaisrines }}
                <label for="id_civiline_sauga">{% trans "Civilinės saugos instrukcijos:" %}</label>
                {{ form.civiline_sauga }}
            </div>
            <div class="collumn">
                <label for="id_mokymai">{% trans "Mokymai:" %}</label>
                {{ form.mokymai }}
            </div>
            <div class="collumn">
                <label for="id_kiti_dokumentai">{% trans "Kiti dokumentai:" %}</label>
                {{ form.kiti_dokumentai }}
            </div>
            <div class="collumn">
                <label for="id_med_patikros_data">{% trans "Med patikros data:" %}</label>
                {{ form.med_patikros_data }}
                <label for="id_med_patikros_periodas">{% trans "Med patikros periodas:" %}</label>
                {{ form.med_patikros_periodas }}
                <br>
                <label for="id_AsmeninesApsaugosPriemones">{% trans "Asmenines apsaugos priemones" %}:</label>
                {{ form.AsmeninesApsaugosPriemones }}
            </div>
        </div>
        <button class="button" type="post">{% trans "Patvirtinti" %}</button>
        <a class="button" href="{% url "my_company_users" %}">{% trans "Atgal" %}</a>
    </form><br><br><br><br>
{% endblock content %}