{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sveikatos tikrinimo grafikas" %}{% endblock title %}
{% block content %}
<br><br><br>
        <h1>{% trans "Darbuotojų sveikatos tikrinimo grafikas" %}</h1>
        {% include "main/included/paginator_prev_next.html" %}
        <br><br>
        {% if object_list %}
            <table class="nice-table">
                <tr>
                    <th>{% trans "Vardas ir Pavardė" %}</th>
                    <th>{% trans "Darbuotojo pareigos" %}</th>
                    <th>{% trans "Sveikatos patikrinimo data" %}</th>
                    <th>{% trans "Sveikatos tikrinimo periodiškumas" %}</th>
                    <th>{% trans "Sekanti sveikatos tikrinimo data" %}</th>
                </tr>
                {% for vartotojas in object_list %}
                    <tr>
                        <td>{{ vartotojas.get_full_name }}</td>
                        <td>{{ vartotojas.position }}</td>
                        <td>{{ vartotojas.med_patikros_data }}</td>
                        <td>{{ vartotojas.get_med_patikros_periodas_display }}</td>
                        <td>{{ vartotojas.sekanti_med_patikros_data }}</td>
                    </tr>
                {% endfor %}
                </table>
        {% else %}
            <p style="text-align: center;">{% trans "Sveikatos tikrinimo žurnale įrašų nerasta." %}</p>
        {% endif %}

{% endblock content %}
