{% extends "base.html" %}
{% block title %}Vartotojo instrukcijos {{ block.super }}{% endblock title %}
{% block content %}
    <h1>Vartotojo Instrukcijos</h1>
    {% if userinstructionsign_list %}
        <table class="nice-table">
            <tr>
                <th>Instrukcijos pavadinimas</th>
                <th>Peržiurėti</th>
            </tr>
            {% for instruction in userinstructionsign_list %}
                <tr>
                    <td>{{ instruction.instruction.name }}</td>

                    <td><a href="{% url 'user_instruction_detail' instruction.id %}">Skaityti/Pasirašyti</a></td> 
            {% endfor %}
        </table>
    {% else %}
        <p>Šiuo metu darbų nėra.</p>
    {% endif %}
{% endblock content %}
