{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Vartotojo instrukcijos" %} {{ block.super }}{% endblock title %}
{% block content %}
{% block head_style %}
    <style>
        .nice-table {
            min-width: 30rem;
            max-width: 30rem;
            
        }
        @media screen and (max-width: 1000px) and (min-width: 501px){
            .menu a {
                font-size: 25px;
            }
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1.5rem;
            }
            header a {
                font-size: 1.5rem;
            }
            .blank {
                font-size: 1.5rem;
                width: 10rem;
            }
        }
        @media screen and (max-width: 500px) and (min-width: 300px){
            .nice-table td {
                max-width: 121px;
            }
            .nice-table {
                min-width: 284px;
                max-width: 284px;
            }
            
        }
    </style>
{% endblock head_style %}
<br><br><br>
    <h1>{%  trans "Darbų saugos instrukcijos" %}</h1>
    {% if userinstructionsign_list %}
        <table class="nice-table">
            <tr>
                <th>{%  trans "Instrukcijos pavadinimas" %}</th>
                <th>{%  trans "Peržiūrėti" %}</th>
            </tr>
            {% for instruction in userinstructionsign_list %}
                <tr>
                    <td>{{ instruction.instruction.name }}</td>
                    <td><a href="{% url 'user_instruction_detail' instruction.uuid %}">{%  trans "Skaityti/Pasirašyti" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">{%  trans "Šiuo metu darbų saugos instrukcijų neturite." %}</p>
    {% endif %}
    
    <h1>{%  trans "Priešgaisrinės instrukcijos" %}</h1>
    {% if priesrines_instrukcijos %}
        <table class="nice-table">
            <tr>
                <th>{%  trans "Instrukcijos pavadinimas" %}</th>
                <th>{%  trans "Peržiūrėti" %}</th>
            </tr>
            {% for priesgaisrine in priesrines_instrukcijos %}
                <tr>
                    <td>{{ priesgaisrine.instruction.pavadinimas }}</td>
                    <td><a href="{% url 'priesgaisrinis_sign' priesgaisrine.uuid %}">{%  trans "Skaityti/Pasirašyti" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">{%  trans "Šiuo metu priešgaisrinės instrukcijų neturite." %}</p>
    {% endif %}
    <h1>{%  trans "Civilinės saugos instrukcijos" %}</h1>
    {% if civiline_sauga %}
        <table class="nice-table">
            <tr>
                <th>{%  trans "Instrukcijos pavadinimas" %}</th>
                <th>{%  trans "Peržiūrėti" %}</th>
            </tr>
            {% for instruction in civiline_sauga %}
                <tr>
                    <td>{{ instruction.instruction.pavadinimas }}</td>
                    <td><a href="{% url 'civiline_sauga_sign' instruction.uuid %}">{%  trans "Skaityti/Pasirašyti" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">{%  trans "Šiuo metu civilinės saugos instrukcijų neturite." %}</p>
    {% endif %}
    <h1>{%  trans "Mokymai" %}</h1>
    {% if mokymo_instrukcijos %}
        <table class="nice-table">
            <tr>
                <th>{%  trans "Instrukcijos pavadinimas" %}</th>
                <th>{%  trans "Peržiūrėti" %}</th>
            </tr>
            {% for mokymas in mokymo_instrukcijos %}
                <tr>
                    <td>{{ mokymas.instruction.pavadinimas }}</td>
                    <td><a href="{% url 'mokymu_sign' mokymas.uuid %}">{%  trans "Skaityti/Pasirašyti" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">{%  trans "Šiuo metu mokymų neturite." %}</p>
    {% endif %}
    
    <h1>{%  trans "Kiti dokumentai" %}</h1>
    {% if kitu_doc %}
        <table class="nice-table">
            <tr>
                <th>{%  trans "Dokumento pavadinimas" %}</th>
                <th>{%  trans "Peržiūrėti" %}</th>
            </tr>
            {% for kito_dokumento_pasirasymas in kitu_doc %}
                <tr>
                    <td>{{ kito_dokumento_pasirasymas.instruction.pavadinimas }}</td>
                    <td><a href="{% url 'kitu_doc_sign' kito_dokumento_pasirasymas.uuid %}">{%  trans "Skaityti/Pasirašyti" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">{%  trans "Šiuo metu kitų dokumentų neturite." %}</p>
    {% endif %}
    <h1>{%  trans "Asmeninės apsaugos priemonės" %}</h1>
    {% if asmenines_apsaugos_priemones %}
        <table class="nice-table">
            <tr>
                <th>{%  trans "AAP pavadinimas" %}</th>
                <th>{%  trans "Peržiūrėti" %}</th>
            </tr>
            {% for AAP in asmenines_apsaugos_priemones %}
                <tr>
                    <td>{{ AAP.AAP.pavadinimas }}</td>
                    <td><a href="{% url 'AAP_sign' AAP.uuid %}">{%  trans "Susipažinti" %}</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p style="text-align: center;">{%  trans "Šiuo metu AAP neturite." %}</p>
    {% endif %}
    <br><br><br><br>
{% endblock content %}
