{% extends "base.html" %}
{% load static %}
<title>{% block title %}{{ user.get_full_name }} detail{% endblock title %}</title>
{% block content %}
    <h1>Vartotojo informacija</h1>
    <table class="nice-table">
        <tr>
            <th>Vardas</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>Pavarde</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>Gymimo data</th>
            <td>{{ user.date_of_birth }}</td>
        </tr>
        <tr>
            <th>El. paštas</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Kompanija</th>
            <td>{{ user.company }}</td>
        </tr>
        <tr>
            <th>Pareigos</th>
            <td>{{ user.position }}</td>
        </tr>
        <tr>
            <th>Darbų saugos instrukcijos</th>
            <td>{% for instruction in user.instructions.all %}
                {{ instruction.name }}, <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Priešgaisrinės instrukcijos</th>
            <td>{% for instruction in user.priesgaisrines.all %}
                {{ instruction.pavadinimas }}, <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Mokymai</th>
            <td>{% for mokymas in user.mokymai.all %}
                {{ mokymas.pavadinimas }}, <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Kiti dokumentai</th>
            <td>{% for dok in user.kiti_dokumentai.all %}
                {{ dok.pavadinimas }}, <br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Medicininės patikros data</th>
            <td>{{ user.med_patikros_data }}</td>
        </tr>
        <tr>
            <th>Medicininės patikros periodas</th>
            <td>{{ user.get_med_patikros_periodas_display }}</td>
        </tr>
    </table>
{% endblock content %}