{% extends "base.html" %}
{% block title %}{{ block.super }}Pridėti vartotoją{% endblock title %}
{% block content %}
    <h1>Pridėti naują vartotoją</h1>
    <form method="POST" action="{% url 'user_add' %}">
        {% csrf_token %}
        <div class="row-container">
            <div class="collumn">
                <label for="id_first_name">Vardas:</label>
                {{ form.first_name }}
                <label for="id_last_name">Pavardė:</label>
                {{ form.last_name }}
                <label for="id_email">El. Paštas:</label>
                {{ form.email }}
                <label for="id_date_of_birth">Gymimo Data:</label>
                {{ form.date_of_birth }}
                <label for="id_position">Pareigos:</label>
                {{ form.position }}
                <br><br>
                <label for="id_password">Slaptažodis:</label>
                {{ form.password }}
            </div>
            <div class="collumn">
                <label for="id_instructions">Darbų Saugos Instrukcijos:</label>
                {{ form.instructions }}
                <label for="id_priesgaisrines">Priesgaisrinės Instrukcijos:</label>
                {{ form.priesgaisrines }}
                <label for="id_civiline_sauga">Civiline Saugos Instrukcijos:</label>
                {{ form.civiline_sauga }}
            </div>
            <div class="collumn">
                <label for="id_mokymai">Mokymai:</label>
                {{ form.mokymai }}
            </div>
            <div class="collumn">
                <label for="id_kiti_dokumentai">Kiti Dokumentai:</label>
                {{ form.kiti_dokumentai }}
            </div>
            <div class="collumn">
                <label for="id_med_patikros_data">Med Patikros Data:</label>
                {{ form.med_patikros_data }}
                <label for="id_med_patikros_periodas">Med Patikros Periodas:</label>
                {{ form.med_patikros_periodas }}
            </div>
        </div>
        <button class="button" type="POST">Patvirtinti</button>
        <a class="button" href="{% url "menu" %}">Atgal</a>
    </form>
    <br><br><br><br>
{% endblock content %}