{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}{% trans "Pridėti vartotoją" %}{% endblock title %}
{% block content %}
<br><br><br>
    <h1>{% trans "Pridėti naują vartotoją" %}</h1>
    <form method="POST" action="{% url 'user_add' %}">
        {% csrf_token %}
        <div class="row-container">
            <div class="collumn">
                <label for="id_first_name">{% trans "Vardas" %}:</label>
                {{ form.first_name }}
                <label for="id_last_name">{% trans "Pavardė" %}:</label>
                {{ form.last_name }}
                <label for="id_email">{% trans "El. paštas" %}:</label>
                {{ form.email }}
                <label for="id_date_of_birth">{% trans "Gimimo data" %}:</label>
                {{ form.date_of_birth }}
                <label for="id_position">{% trans "Pareigos" %}:</label>
                {{ form.position }}
                <br><br>
                <label for="id_skyrius">{% trans "Skyrius" %}:</label>
                {{ form.skyrius }}
                <br><br>
                <label for="id_kalba">{% trans "Daruotojui suprantama kalba:" %}</label>
                {{ form.kalba }}
                <br><br>
                <label for="id_password">{% trans "Slaptažodis" %}:</label>
                {{ form.password }}
            </div>
            <div class="collumn">
                <label for="id_instructions">{% trans "Darbų saugos instrukcijos" %}:</label>
                {{ form.instructions }}
                <label for="id_priesgaisrines">{% trans "Priešgaisrinės instrukcijos" %}:</label>
                {{ form.priesgaisrines }}
                <label for="id_civiline_sauga">{% trans "Civilinės saugos instrukcijos" %}:</label>
                {{ form.civiline_sauga }}
            </div>
            <div class="collumn">
                <label for="id_mokymai">{% trans "Mokymai" %}:</label>
                {{ form.mokymai }}
            </div>
            <div class="collumn">
                <label for="id_kiti_dokumentai">{% trans "Kiti dokumentai" %}:</label>
                {{ form.kiti_dokumentai }}
            </div>
            <div class="collumn">
                <label for="id_med_patikros_data">{% trans "Med patikros data" %}:</label>
                {{ form.med_patikros_data }}
                <label for="id_med_patikros_periodas">{% trans "Med patikros periodas" %}:</label>
                {{ form.med_patikros_periodas }}
                <br>
                <label for="id_AsmeninesApsaugosPriemones">{% trans "Asmenines apsaugos priemones" %}:</label>
                {{ form.AsmeninesApsaugosPriemones }}
            </div>
        </div>
        <button class="button" type="POST">{% trans "Patvirtinti" %}</button>
        <a class="button" href="{% url "menu" %}">{% trans "Atgal" %}</a>
    </form>
    <br>
    {% endblock content %}
    
    {% block extrahead %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    {% endblock extrahead %}
    
    {% block extrajs %}
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/lt.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                console.log("Initializing flatpickr...");
    
                var dateInput = document.querySelector("#id_date_of_birth");
    
                if (dateInput) {
                    console.log("Date input found:", dateInput);
    
                    flatpickr(dateInput, {
                        dateFormat: "Y-m-d",
                        locale: "lt"
                    });
                } else {
                    console.error("Date input not found");
                }
            });
        </script>
    {% endblock extrajs %}