{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ block.super }}{% trans "Pridėti vartotoją" %}{% endblock title %}
{% block content %}
    <h1>{% trans "Pridėti naują vartotoją" %}</h1>
    <form method="POST" action="{% url 'user_add' %}">
        {% csrf_token %}
        <div class="row-container">
            <div class="collumn">
                <label for="id_first_name">{% trans "Vardas" %}:</label>
                {{ form.first_name }}
                <label for="id_last_name">{% trans "Pavardė" %}:</label>
                {{ form.last_name }}
                <label for="id_email">{% trans "El. Paštas" %}:</label>
                {{ form.email }}
                <label for="id_date_of_birth">{% trans "Gimimo Data" %}:</label>
                {{ form.date_of_birth }}
                <label for="id_position">{% trans "Pareigos" %}:</label>
                {{ form.position }}
                <br><br>
                <label for="id_password">{% trans "Slaptažodis" %}:</label>
                {{ form.password }}
            </div>
            <div class="collumn">
                <label for="id_instructions">{% trans "Darbų Saugos Instrukcijos" %}:</label>
                {{ form.instructions }}
                <label for="id_priesgaisrines">{% trans "Priešgaisrinės Instrukcijos" %}:</label>
                {{ form.priesgaisrines }}
                <label for="id_civiline_sauga">{% trans "Civiline Saugos Instrukcijos" %}:</label>
                {{ form.civiline_sauga }}
            </div>
            <div class="collumn">
                <label for="id_mokymai">{% trans "Mokymai" %}:</label>
                {{ form.mokymai }}
            </div>
            <div class="collumn">
                <label for="id_kiti_dokumentai">{% trans "Kiti Dokumentai" %}:</label>
                {{ form.kiti_dokumentai }}
            </div>
            <div class="collumn">
                <label for="id_med_patikros_data">{% trans "Med Patikros Data" %}:</label>
                {{ form.med_patikros_data }}
                <label for="id_med_patikros_periodas">{% trans "Med Patikros Periodas" %}:</label>
                {{ form.med_patikros_periodas }}
            </div>
        </div>
        <button class="button" type="POST">{% trans "Patvirtinti" %}</button>
        <a class="button" href="{% url "menu" %}">{% trans "Atgal" %}</a>
    </form>
    <br><br><br><br>
{% endblock content %}