html {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.blank {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    margin: 0;
    margin-left: 0;
    float: left;
    margin-right: 1px; /* Adjust margin to match the "Atsijungti" link */
}

h1{
    margin: 1rem;
    padding: 0.3rem;
    float: center;
    font-size: 2rem;
    font-family: sans-serif;
    color: #252525;
    text-align: center;
}

h2{
    margin: 1rem;
    padding: 0.3rem;
    float: center;
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #252525;
    text-align: center;
}

header{
    position: fixed;
    margin-bottom: 3rem;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 1rem;
    background-color: #01017a;
    color: white;
    text-align: center;
    text-shadow: #252525;
    box-shadow: 1px 1px 10px #25252588;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.content {
    min-height: auto;
    flex-grow: 1;
    flex-direction: column;
    flex: 1;
    display: flex;
}

footer{
    float: bottom;
    margin-top: 10rem;
    padding: 0;
    margin: 0;
    background-color: #01017a;
    color: white;
    text-shadow: #252525;
    box-shadow: 1px 1px 10px #25252588;
    align-items: center;
    justify-content: bottom;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    margin-bottom: 0;
}

footer p{
    margin-top: auto;
    padding: 0.5rem;
    float: bottom;
    text-align: center;
    text-shadow: #252525;
}

ul.nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
ul.nav li{
    float: left;
    margin: 1rem;
    margin-left: 2rem;
    padding: 0.2rem;
    text-decoration: none;
    list-style:georgian;
    list-style-type: none;
    align-items: center;
}
ul.nav li:hover{
    color: rgb(255, 252, 252);
}

header a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
}
header a:hover{
    color: rgb(179, 179, 179);
}

ul.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(204, 204, 204);
    box-shadow: 1px 1px 1px #25252588;
    border-radius: 0.5rem;

}
ul.list li{
    margin-left: 1rem;
    padding: 0.2rem;
    text-decoration: none;
    list-style:georgian;
    list-style-type: none;
    border-bottom: 1px solid #01017a;
    box-shadow: 1px 1px 1px #25252588;
    align-items: center;
}
ul.list li a{
    color: black;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    font-family: sans-serif;
}
ul.list li a:hover{
    color: rgb(61, 61, 61);
}
div.form{
    margin-left: 1rem;
    padding: 0.2rem;
    text-decoration: none;
    list-style:georgian;
    list-style-type: none;
}
div.form p{
    margin-left: 1rem;
    padding: 0.2rem;
    width: fit-content;
    text-decoration: none;
    list-style:georgian;
    list-style-type: none;
}
div.form label{
    margin-left: 0;
    padding: 0;
    min-width: 500px;
    width: fit-content;
    text-decoration: none;
    list-style:georgian;
    list-style-type: none;
}
div.form input{
    margin-left: 1rem;
    padding: 0.2rem;
    text-decoration: none;
    list-style:georgian;
    list-style-type: none;
}

.nice-table{
    list-style-type: none;
    margin: 1rem auto;
    max-width: fit-content;
    border: 1px solid #0000aa;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.nice-table th{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.nice-table td{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: sans-serif;
    color: #252525;
    text-shadow: #252525;
}
.paginator {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0.25rem;
    padding: 0.25rem;
}
ul.nav li.right {
    float: right;
    flex-direction: row;
    flex-grow: 1;
    text-align: right;
    margin-right: 5rem;
    margin-left: 0;

}
.form-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  form {
    width: fit-content;
    margin: 1rem auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #0000aa;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  
  }
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  form input {
    width: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    
  }
/* Apply a basic style to the menu container */
.menu {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center; /* Center the text inside the menu */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    max-width: fit-content;
    align-self: center;
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
}

.menu h1 {
    color: #333;
    margin-bottom: 3px;
}

.menu h3 {
    color: #555;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    position: relative;

    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 10px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.menu a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: #0056b3;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    color: #333;
    background-color: #f5f5f5;
}
/* Define a CSS class to display flex and align items horizontally */
.row-container {
    display: flex;
    flex-wrap: wrap;
}

/* Define the styling for each group of fields */
.field-group {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each group */
    margin-right: 20px; /* Adjust the spacing between groups */
}

/* Remove margin from the last group to prevent extra spacing */
.field-group:last-child {
    margin-right: 0;
}
.center-content {
    text-align: center;
}
.scrollable-select {
    width: 250px; /* Set your desired width */
    overflow-x: auto; /* Add horizontal scrollbar if content overflows */
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Limit the width of the options within the select dropdown */
.scrollable-select option {
    max-width: 200px; /* Set the same width as the select */
}
div.collumn {
    margin: 0.5rem;
}

.filter-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.filter-form label {
    margin-right: 5px;
}

.filter-form input[type="date"] {
    padding: 5px;
    font-size: 14px;
}

.filter-form .btn {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

.filter-form .btn-secondary {
    background-color: #f8f9fa;
    border-color: #6c757d;
    color: #6c757d;
}

.filter-form .btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.pdf-button {
    align-self: center;
    align-items: center;
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    display: flex;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 14px;
}

/* Pager Container */
.pager {
    display: flex;
    justify-content: center; /* Center align the pager */
    padding: 10px 0; /* Add padding for spacing */
    list-style: none; /* Remove default list styling */
    margin: 10px 0; /* Add margin for spacing */
}

/* Individual Page Item */
.pager li {
    margin: 0 5px; /* Add horizontal spacing between items */
}

.pager li a {
    display: block; /* Make the link block-level */
    padding: 8px 16px; /* Add padding for clickable area */
    border: 1px solid #007bff; /* Border color */
    border-radius: 5px; /* Rounded corners */
    color: #007bff; /* Text color */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

/* Active Page Item */
.pager li.active a {
    background-color: #007bff; /* Active background color */
    color: #fff; /* Active text color */
    border-color: #007bff; /* Active border color */
}

/* Hover Effect */
.pager li a:hover {
    background-color: #0056b3; /* Hover background color */
    color: #fff; /* Hover text color */
    border-color: #0056b3; /* Hover border color */
}
